#characterEntry{
    position: absolute;
    left: 5px;
    top: 300px;
}
#ChoiceEntry{
    position: absolute;
    left: 500px;
    top: 375px;
}
#output3{
    position: relative;
    left: 500px;
    top: 20px;
}
#output4{
    position: relative;
    left: 500px;
    top: 20px;
}
#output5{
    position: relative;
    left: 500px;
    top: 20px;
}

